body {
  width: 600px;
  font-family: "Irish Grover", system-ui;
  margin: 0 auto;
  background: url("./imgs/background.jpg");
  background-size: cover;
}

h1 {
  margin-top: 30px;
  text-align: center;
  color: mediumblue;
}

.gameUpdate {
  display: flex;
  justify-content: space-between;
  color: maroon;
  font-size: 20px;
  margin: 5px;
}
.controls {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.puzzle {
  background: grey;
  display: grid;
  /* grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px); */

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  border: 3px solid black;
  border-radius: 2%;

  width: 600px;
  height: 600px;
}

.tile {
  /* background-image: url("./imgs/samplePic.jpg"); */
  background-image: url("./imgs/Skateboard.jpg");
  /* width: 198px;
  height: 198px; */
  border: 1px solid blue;
  border-radius: 5%;

  cursor: pointer;
  text-align: right;
  font-size: 18px;

  transition: transform 0.25s ease;
}

#tile_1 {
  background-position: top left;
}
#tile_2 {
  background-position: top center;
}
#tile_3 {
  background-position: top right;
}

#tile_4 {
  background-position: center left;
}

#tile_5 {
  background-position: center center;
}
#tile_6 {
  background-position: center right;
}

#tile_7 {
  background-position: bottom left;
}

#tile_8 {
  background-position: bottom center;
}

#tile_e {
  background-position: bottom right;
  color: transparent;
  visibility: hidden;
}

.hide-text {
  color: transparent;
}
button {
  height: 40px;
  font-family: "Irish Grover", system-ui;
  border-radius: 8px;
  border: 2px solid peru;
  cursor: pointer;
}

.blinking-text {
  animation: blink 2s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
