body {
  width: 600px;
}

h1 {
  /* width: 300px; */
  margin: 0 auto;
  color: blue;
  border: 1px dotted black;
}

.gameUpdate {
  display: flex;
  justify-content: space-between;
  color: red;
}

.puzzle {
  /* display: table-cell; */
  background: grey;
  position: relative;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  display: grid;
  /* grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px); */

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  border: 3px solid black;
  border-radius: 2%;

  width: 600px;
  height: 600px;
}

.tile {
  background-image: url("samplePic.jpg");
  /* position: absolute; */
  /* width: 198px;
  height: 198px; */
  border: 1px solid blue;
  border-radius: 5%;
  text-align: center;
  cursor: pointer;
  color: transparent;
  transition: transform 0.25s ease;
}

#tile_1 {
  background-position: top left;
}
#tile_2 {
  background-position: top center;
}
#tile_3 {
  background-position: top right;
}

#tile_4 {
  background-position: center left;
}

#tile_5 {
  background-position: center center;
}
#tile_6 {
  background-position: center right;
}

#tile_7 {
  background-position: bottom left;
}

#tile_8 {
  background-position: bottom center;
}

#tile_e {
  background: white;
  z-index: -1;
}

.grid {
  /* transition: grid-column 5s ease, grid-row 5s ease; */
  /* transition: reflow 5s ease-in-out; */
}

/* .grid_2 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.grid_5 {
  grid-column: 2/3;
  grid-row: 1/2;
} */

.translateDown {
  transform: translateY(200px);
}

.translateUp {
  transform: translateY(-200px);
}
.translateRight {
  transform: translateX(200px);
}

.translateLeft {
  transform: translateX(-200px);
}
